.vertical-line {
    background: rgba(237, 237, 237, 1);
    height: 31px;
    width: 2px;
    margin: 0px 15px;
}

.dropdown-user {
    padding-left: 5px;
}

.vertical-align {
    display: inline-flex;
    align-items: center;
}

.nav-link {
    display: inline-flex;
    align-items: center;
}

.avatar-img {
    margin-right: 10px;
}

.navbar-toggler {
    padding: 5px;
    border: 0;
}

.navbar-toggler:hover {
    border: 0;
    padding: 5px;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0rem !important;
}

.big-menu {
    display: contents;
}

.dropdown-shadow .dropdown-menu {
    filter: drop-shadow(rgba(44, 63, 88, 0.25) 0px 20px 50px);
    border: 0px;
    border-radius: 14px;
    min-width: 250px;
    padding-top: 15px;
    margin-top: 10px;
}

.user-card-drop {
    font-size: 13px;
    padding: 0px 20px;
}

.separator-header {
    border-left: 1px solid #E8E9EB;
    height: 31px;
    margin-right: 15px;
    margin-left: 15px;
}

.notify-header {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #3F434A;
    margin-left: 10px;
    padding-bottom: 6px;
}

.notify-card-drop {
    font-size: 13px;
    padding: 5px 11px;
}

.dropdown-notify-empty {
    background: #fff !important;
    cursor: default;
    border-radius: 30px;
}

.notify-empty-header-text {
    font-size: 10px;
}

.notify-empty-head {
    font-size: 12px;
    margin-bottom: 5px;
}

.unread-messages-count-red {
    background: #FD7972 !important;
}

.dropdown-count-notify {
    margin-left: 17px;
    margin-right: 17px;
    display: flex;
}

.avatar-header {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 15px;
    background: #04809F;
    object-fit: cover;
    object-position: center;
}

.username-header-text {
    text-transform: capitalize;
}

.area-drop-avatar {
    padding: 5px 25px;
    padding-bottom: 10px;
}

@media (min-width: 1200px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .mobile-menu {
        margin-left: auto;
    }

    .big-menu {
        display: none;
    }

    .username-header-text {
        display: none;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .mobile-vertical {
        display: block;
    }

    .separator-header {
        display: none;
    }
}